extends ../main.pug

block content
  h2 Edit Recipe
    form(method='post', enctype='multipart/form-data')
      label Name
      br
      input(type='text', name='name', value=recipe.name)
      br
      br
      label Description
      br
      textarea(name='description')= recipe.description
      br
      br
      label Upload Recipe Image
      br
      br
      input(type='file', name='image', accept='.jpg,.png,.jpeg', value=recipe.image)
      br
      br
      select(name='category') Group
        each category in categories
          if (category._id.equals(recipe.category))
            option(value=`${category._id}` selected)=category.name
          else
            option(value=`${category._id}`)=category.name
      input.btn.btn-primary.btn-lg(type='submit', value='Edit')