extends ../main.pug

block content
  h1 Welcome to Food Recipe Web Site
  .row
    each recipe in recipes
      .col
        a(href='/recipe/details/' + recipe._id)
        img.recipe-img(src=recipe.image)
        h2=recipe.name
        p.description=recipe.description
        if(currentUser)
          a.btn.btn-warning(href='/recipe/edit/'+ recipe._id)= 'Edit'
          a.btn.btn-danger(href='/recipe/delete/' + recipe._id)= 'Delete'
          a.btn.btn-success(href='/recipe/details/' + recipe._id)= 'Details'
          a.btn.btn-info(href=`/category/${recipe.category.name}/recipe`)= `More ${recipe.category.name}`
