<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop Stop</title>
    <link rel="icon" href="../../content/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="../../content/site.css">
<body>
<header>
    <nav class="nav">
        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/product/add">Add Product</a></li>
            <li><a href="/category/add">Add Category</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1 class="head-title">Welcome to ShopStop!</h1>
    <form id="search-form">
        <input type="text" name="query" placeholder="Search...">
        <input type="submit" value="Search">
    </form>
    <div class="cards">
        <% for (let prod of obj) { %>
        <div class="product-card">
            <img class="product-img" src='<%= prod.image %>' alt="<%= prod.name %>">
            <h2>Product Name: <%= prod.name %></h2>
            <p>Product Description:<%= prod.description %></p>
            <p>Product Price: <%= prod.price %></p>
        </div>
        <% } %>
    </div>
</main>
<footer>
    <p>&copy; ShopStop</p>
</footer>
</body>
</html>