extends ../main
block content
  h2 Edit Car
    form(method="post" action=`/cars/edit/${car._id}`)
      label(for="model") Model
      br
      input(type="text" name="model" id="model" value=car.model)
      br
      label(for="image") Image
      br
      input(type="url" name="image" id="image" value=car.image)
      br
      label(for="pricePerDay") Price per Day
      br
      input(type="number" name="pricePerDay" id="pricePerDay" min='1500' value=car.pricePerDay)
      br
      label(for="color") Color
      br
      input(type="text" name="color" id="color" value=car.color)
      br
      select(name='isRented')
        option(name='isRentedTrue', value='true')=true
        option(name='isRentedFalse', value='false')= false
      br
      input(type="submit" value="Edit Car")